.post {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #e0e0e080;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 16px;
}

.postingDetails {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.posterImage {
    margin-right: 16px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.post-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

.posterName {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
    margin-bottom: 2px;
    text-decoration: none;
}

.postingDate {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #bdbdbd;
    cursor: default;
}

.post-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #4f4f4f;
    padding-left: 52px;
    padding-right: 52px;
    margin-bottom: -10px;
    text-decoration: none;
    cursor: default;
}

.postImageContainerSingle {
    width: 100%;
    height: 30vh;
    padding: 0 0.4vw 0 50px;
    margin-top: 26px;
    margin-bottom: 12px;
}


.postImageContainer {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding: 0 0.4vw 0 50px;
    margin-top: 26px;
    margin-bottom: 12px;
}

.postImageContainerSingle .ant-image {
    width: auto;
    height: 100%;
    border-radius: 8px;
    object-fit: scale-down;
    object-position: left;
}

.postImageContainerSingle .ant-image-img{
    border-radius: 8px;
    object-fit: scale-down !important;
    object-position: left;
    height: 100% !important;
}

.postImageContainer .ant-image{
    margin-right: 8px;
    width: 181px;
    height: 181px;
}

.ant-image-mask{
    border-radius: 8px;
}

.postImageContainer .ant-image-img{
    border-radius: 8px;
    object-fit: cover !important;
    height: 100% !important;
}

.postImage:hover {
    cursor: pointer;
}

.engageLinks {
    padding-left: 52px;
    padding-right: 52px;
    display: flex;
    align-items: flex-start;
}

div.engageLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 500;
    color: #5e5e5e;
    padding: 8px 8px 0 0;
    cursor: pointer;
}

span.engageLink {
    margin-right: 8px;
    font-size: 20px;
    cursor: pointer;
}

.inputComment {
    width: calc(100% - 22px);
    background: #fafafa;
    border-radius: 8px;
    height: 40px;
    border: 1px solid #f2f2f2;
    padding: 10px;
    outline: none;
}

.inputComment:focus {
    border: 1px solid #f2f2f2;
}

.commentCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.commentImageIcon {
    position: absolute;
    right: 32px;
    width: 16px;
    height: 16px;
}



@media (max-width: 768px) {
    a.engageLink > span:nth-of-type(2) {
        display: none;
    }

    .post{
        width: 100%;
    }

    .post-content{
        padding:0;
    }

    .postImageContainer{
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }

    .postImage {
        width: 40%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
        object-position: left;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .engageLinks{
        padding: 0 0 0 4px;
    }

    .postImageContainer .ant-image{
        margin-right: 4px;
        width: 160px;
        height: 160px;
    }
}
