.container {
  display: flex;
  justify-content: start;
  width: 80%;
  flex-direction: column;
  margin-bottom: 2px;
}

@media (max-width: 1180px) {
  .container {
    width: 85%;
    margin-left: 8%;
    padding: 16px;
    flex-direction: column;
    margin-bottom: 32px;
  }
}


@media (max-width: 930px) {
  .container {
    width: 100%;
    padding: 16px;
    flex-direction: column;
    margin: 0 0 32px;
  }
}


@media (max-width: 549px){
  .container-children {
    margin-bottom: 7vh;
  }
}
