.profile-page {
    width: 75%;
    margin-left: 5%;
}

.profile-upper{
    border-radius: 8px;
    border-left: 1px solid #e0e0e080;
    border-right: 1px solid #e0e0e080;

}


@media (max-width: 1180px) {
    .profile-page {
        width: 85%;
        margin: 0;
    }
}

@media (max-width: 930px) {
    .profile-page {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 549px){
    .profile-page {
        width: 106%;
        margin-top: -15px;
        margin-left: -10px;
    }
    #nav-header{
        height: 40px;
    }
    .box-nav{
        padding-top: 20px;
        margin-left: 0px;
    }

    .box-nav p {
        font-size: 20px !important;
    }

    .box-nav #line {
        margin-left: 35px;
        width: 70px;
    }
}