#feedContainer {
  width: 100%;
  height: fit-content;
}

#tweet-box {
  min-height: 40px;
  border-bottom: 0.3px solid #e2e2e2c4;
  display: flex;
  padding: 5px;
}
#profile-tweet {
  padding-left: 5px;
  height: 100%;
  width: 68px;
}
#image-profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 10px;
}

#name-id {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tweet-name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}
#box-tweet {
  width: 90%;
  padding-left: 10px;
}
#tweet-id {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(104, 104, 104);
  margin-left: 5px;
}
#tweet-date {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(104, 104, 104);
  margin-left: 5px;
}
#flex-tweet {
  display: flex;
  justify-content: center;
  align-items: center;
}
#post-box {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
}
#span-more {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
#span-more:hover {
  background-color: #e3f4ff;
}
#nav-bottom-post {
  width: 100%;
  height: 20px;
  margin-top: 18px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-icon-box {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.3s;
}
.comment {
  color: rgb(95, 95, 95);
}
.comment:hover {
  background-color: #e3f4ff;
  color: #0099ff;
}
.retweet {
  color: rgb(95, 95, 95);
}
.retweet:hover {
  background: #dfffe7;
  color: #00cc36;
}
.like {
  color: rgb(95, 95, 95);
}
.like:hover {
  background: rgb(253, 222, 222);
  color: rgb(255, 72, 72);
}
.share {
  color: rgb(95, 95, 95);
}
.share:hover {
  background-color: #e3f4ff;
  color: #0099ff;
}
.analytic {
  color: rgb(129, 129, 129);
}
.analytic:hover {
  background-color: #e3f4ff;
  color: #0099ff;
}
#text-tweet {
  width: 100%;
  margin-right: 3px;
}
#red-heart {
  color: rgb(255, 64, 64);
}
#like-number {
  font-size: 12px;
  margin-left: 10px;
}
#like-number::selection {
  color: rgb(129, 129, 129);
}
#box-like-number {
  display: flex;
  justify-content: center;
  align-items: center;
}
#comment-tweet {
  font-size: 12px;
  margin-left: 10px;
}
#box-comment-number {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment:hover #comment-tweet {
  color: #0099ff;
}


@media screen and (min-width: 200px) and (max-width: 499px) {
  #feedContainer {
    width: 100%;
  }

  .box-nav {
    height: 60px;

  }
  #nav {
    font-size: 13px;
    width: 20%;
  }
  .box-Tweets {
    width: 20%;
    font-weight: bold;
  }
  .box-replies {
    width: 36%;
  }
  .box-Media {
    width: 20%;
  }
  .box-Likes {
    width: 20%;
  }
  #line {
    width: 50px;
    height: 4px;
    margin-left: 14px;
    border-radius: 20px;
    transform: translateY(-5px);
  }
  #tweet-box {
    min-height: 40px;
    border-bottom: 0.3px solid #e2e2e2c4;
    display: flex;
    padding: 5px;
  }
  #profile-tweet {
    height: 100%;
    width: 68px;
  }
  #image-profile {
    padding: 4px;
    padding-left: 3px;
  }
  #box-tweet {
    padding-left: 1px;
  }
  #name-id {
    width: 100%;
  }
  #tweet-name {
    font-size: 15px;
  }
  #tweet-id {
    margin-left: 5px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 50px;
  }
  #tweet-date {
    margin-left: 3px;
    font-size: 14px;
  }
  #text-tweet {
    text-align: right;
    margin-right: 3px;
    font-size: 13px;
  }
  #nav-bottom-post {
    width: 95%;
    height: 18px;
    margin-top: 19px;
    margin-bottom: 8px;
  }
  #box-tweet {
    width: 90%;
    padding-left: 10px;
  }
  #nav-icon-box {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.3s;
  }
  #post-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
  }
  #profile-tweet {
    height: 10%;
    width: 68px;
  }
}
@media screen and (min-width: 500px) and (max-width: 1005px) {
  #feedContainer {
    width: 100%;
    overflow: hidden;
  }
  #name-id {
    width: 100%;
  }
  #name-id-box {
    margin-left: 0px;
    padding-top: 0px;
  }
  #name-user {
    font-weight: bold;
    font-size: 18px;
    padding-left: 16px;
    margin-top: 13px;
  }
  #id-user {
    color: rgb(73, 73, 73);
    font-size: 14px;
    padding-left: 16px;
  }
  #date-box {
    padding-left: 0px;
  }
  #date-icon {
    font-size: 19px;
    padding-left: 16px;
  }
  #following-follow-box {
    padding-left: 0px;
  }
  #number-follow {
    font-size: 15px;
    padding-left: 17px;
  }
  #box-top {
    width: 100%;
  }
  #back-icon-box {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    margin-left: 14px;
  }
  #flex-box-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #header-box {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
@media screen and (min-width: 1005px) and (max-width: 1281px) {
  #name-id {
    width: 100%;
  }
}
